@import 'theme';

.tabs {
    display: flex;
    overflow-x: scroll;
    width: inherit;
    flex-wrap: nowrap;

    .tab-item {
        margin-right: 1rem;
        padding: 1rem 1.5rem;
        width: 100px;
        cursor: pointer;
    }

    .active {
        border-bottom: 5px solid #6d6d6d;
    }
}
