.container {
    width: 100%;
    display: flex;

  .edit-pane{
    width: 25%;
    height: 100%;
  }
    .preview {
      margin-left: 0.5rem;
        width: 50%;
        height: 100%;
    }

    .toolbar {
        margin-left: 0.5rem;
        width: 25%;
        height: 100%;
    }
}
