<div class="root">
    <div class="options">
      <span class="material-symbols-outlined edit" (click)="markThisAsEdit()">
edit
</span>
    </div>
    <div *ngIf=" this.thisLayout?.children?.length===0; then hasNoChildren; else hasChildren"></div>
  <ng-template #hasNoChildren>
      <div  (dragover)="allowDrag($event)" (drop)="onDrop($event,0)" class="add-element">+</div>
  </ng-template>
  <ng-template #hasChildren>
        <ng-container  *ngFor="let childLayout of this.thisLayout!.children!; index as idx">
            <nexus-preview [layout]="childLayout"></nexus-preview>
            <div class="child-container">
                <div (drop)="onDrop($event,idx)" (dragover)="allowDrag($event)" class="add-element">+</div>
            </div>
        </ng-container >
  </ng-template>

</div>
